.review-text-textarea-container{
    min-height: 25vh;
}

.review-text-textarea{
    min-height: 25vh;
    resize: none;
}

.title{
    padding: 1rem 0;
}

.p-t-0{
    padding-top: 0;
}

.file-upload-input{
    padding-bottom: 30px;
}