<mat-card class="cardWithShadow">
    <mat-card-content class="b-t-1">
        <mat-card-title class="title">Get analytics of a review</mat-card-title>
        <!-- <mat-card-subtitle class="mat-body-1">Get analytics of a review</mat-card-subtitle> -->
    </mat-card-content>

    <mat-card-content class="review-text-textarea-container b-t-1">
        <mat-form-field appearance="outline" class="h-100 w-100">
            <mat-label for="review">Type review here...</mat-label>
            <textarea class="review-text-textarea" matInput [formControl]="review"></textarea>
        </mat-form-field>
        <button mat-flat-button color="primary" matTooltip="Get analytics of your text" (click)="onSummarize()">
            Get Analytics
        </button>
    </mat-card-content>

    <ng-container *ngIf="reviewOutput">
        <mat-card-content class="b-t-1 p-t-0">
            <mat-card-title class="title">Delivery</mat-card-title>
            <div>{{reviewOutput.delivery.text || "-"}}</div>

            <mat-card-title class="title">Packaging</mat-card-title>
            <div>{{reviewOutput.packaging.text || "-"}}</div>

            <mat-card-title class="title">Price</mat-card-title>
            <div>{{reviewOutput.price.text || "-"}}</div>

            <mat-card-title class="title">Quality</mat-card-title>
            <div>{{reviewOutput.quality.text || "-"}}</div>

            <mat-card-title class="title">Service</mat-card-title>
            <div>{{reviewOutput.service.text || "-"}}</div>

        </mat-card-content>

        <div class="col-lg-12">
            <app-profit-expenses [profitExpanceChart]="aspectSentimentChart"></app-profit-expenses>
        </div>


        <!-- <div class="col-lg-12">
            <app-traffic-distribution [trafficdistributionChart]="trafficdistributionChart"></app-traffic-distribution>
        </div> -->
    </ng-container>
</mat-card>