<mat-card class="cardWithShadow">
  <div class="row p-h-16">
    <h1 class="user-title p-24">Welcome back, Pritesh Soni</h1>
  </div>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="b-t-1 padding-norm">
    <mat-card-title class="title">Select Product</mat-card-title>
  </mat-card-content>

  <mat-card-content class="review-text-textarea-container b-t-1">
    <mat-form-field appearance="outline" class="h-100 w-100">
      <mat-label>Product category</mat-label>
      <mat-select [(ngModel)]="selectedProductCategory" (ngModelChange)="updateProductNames()">
        @for (category of productCategories; track category) {
        <mat-option [value]="category.viewValue">{{category.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="h-100 w-100">
      <mat-label>Product name</mat-label>
      <mat-select [(ngModel)]="selectedProductName">
        @for (name of productNames; track name) {
        <mat-option [value]="name.productId">{{name.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" matTooltip="Get analytics of your text" (click)="onSubmit()"
      [disabled]="isLoading">
      Submit
    </button>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="isLoading; else notLoading">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="row justify-content-center">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #notLoading>
  <ng-container *ngIf="analyzed_reviews.length > 0">

    <mat-card class="cardWithShadow">
      <mat-card-content class="b-t-1 p-t-0">
        <mat-card-title class="title p-y-16">Summary</mat-card-title>
        <ng-container *ngIf="summary">
          <div>{{summary}}</div>
        </ng-container>
      </mat-card-content>
    </mat-card>

    <div class="row justify-content-center">
      <div class="col-lg-12 ">
        <app-profit-expenses [profitExpanceChart]="aspectSentimentChart" [numOfReviews]="analyzed_reviews.length.toString()"></app-profit-expenses>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <app-traffic-distribution [trafficdistributionChart]="trafficdistributionChart" [numOfReviews]="analyzed_reviews.length.toString()"></app-traffic-distribution>
      </div>

    </div>
  </ng-container>
</ng-template>